<!DOCTYPE html>
<html ng-app="articlesApp">
    <head>
        <title ng-bind="title">Angular Application</title>
        <link rel="stylesheet" href="style.css">
        <script src="lib/angular-1.5.7.js"></script>
        <script src="lib/FileSaver.min.js"></script>
    </head>
    <body ng-controller="MainController as controller">
        <h2 ng-bind="controller.heading">Main Page</h2>
		<div id="main">
		<div ng-hide="controller.showForm || controller.showResponse" class="section">
            <table id="articles-table">
                <tr ng-repeat="article in controller.articles">
                    <td>{{ $index + 1 }}.</td>
                    <td><a href="{{ article.link }}">{{ article.title }}</a></td>
        			<td><button ng-click="controller.editArticle(article.id, article.title, article.link, $index)">Edit</button></td>
        			<td><button ng-click="controller.deleteArticle(article.id, article.title)">Delete</button></td>
                </tr>
            </table>
			<button ng-click="controller.addArticle()">Add new Article</button>
			<button ng-click="controller.saveFile()">Download list</button>
		</div>
		<div ng-show="controller.showForm" class="section">
			<form name="addEditForm" novalidate>
				<div class="width-10"><label>Id</label></div> <div class="width-80"><input type="text" ng-readonly="true" ng-model="controller.formObject.id"></div>
				<div class="width-10"><label>Link</label></div> <div class="width-80"> <input type="text" ng-model="controller.formObject.link"></div>
				<div class="width-10"><label>Title</label></div> <div class="width-80"> <input type="text" ng-model="controller.formObject.title"></div>
				<div><button type="submit" ng-click="controller.saveArticle(controller.formObject)">Submit</button></div>
			</form>		
		</div>
		</div>
        <script src="app.js"></script>
    </body>
</html>
